.nav {
  grid-area: n;
  background-color: #61dafb;
  padding: 20px;
  font-size: 2rem;
}

.item {
  padding-bottom: 15px;
}

.item a {
  color: aliceblue;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(236, 109, 18);
}